* {
    box-sizing: border-box;
    margin: 0;
    font-family: Helvetica, sans-serif;
}

body {
    background-color: ivory;
}

#app-component {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.results-container {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}

.result-preview {
    width: 500px;
    height: 500px;
}

.first-result {
    display: flex;
    min-width: 500px;
    height: 500px;
    font-size: 3rem;
    text-align: right;
    padding-right: 10px;
}

.first-result > h2 {
    margin-top: auto;
}

.result-info {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    transition: 200ms;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.result-info > h2,
h4 {
    cursor: pointer;
    color: ivory;
}

.noclick {
    pointer-events: none;
}

#result-container {
    position: relative;
}

.image-container {
    position: absolute;
}

.tags {
    text-align: end;
}

.jukebox {
    position: absolute;
    bottom: 0;
}

#navbar-container {
    display: flex;
    width: 100vw;
    height: 5vh;
    text-decoration: none;
    justify-content: flex-end;
}
#navbar-container > h1 > a {
    color: black;
    text-decoration: none;
}
