* {
    box-sizing: border-box;
    margin: 0;
    font-family: Helvetica, sans-serif;
}

body {
    background: rgb(221, 229, 237);
    background: linear-gradient(
        rgba(221, 229, 237, 1) 48%,
        rgba(228, 199, 231, 1) 100%
    );
    font-size: 1em;
    overflow-y: scroll;
    overflow-x: hidden;
}

p {
    font-weight: 100;
    line-height: 1.4rem;
}

button {
    box-shadow: none;
    border: 1px solid grey;
    background-color: white;
    padding: 5px;
    padding-top: 7px;
    width: 80px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    transition: 200ms;
}
button:active {
    background-color: rgb(247, 235, 213);
}

#app-component {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#timezone-container,
#room-container,
#room-lobby-container {
    width: 60vw;
    align-self: center;
    margin-top: 8vh;
}

#timezone-container > .headline {
    margin-bottom: 10px;
    font-weight: 200;
}

#timezone-container > h3 {
    margin-bottom: 10px;
    font-weight: 100;
}

button {
    border-radius: 2px;
    margin-top: 10px;
}

.results-container {
    display: flex;
    /* height: 100%; */
    overflow-x: auto;
    overflow-y: hidden;
}
.search-results-container {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}

.result-preview {
    width: 500px;
    height: 500px;
}
.medium {
    object-fit: cover;
    width: 500px;
    height: 500px;
}
.small {
    object-fit: cover;
    width: 350px;
    height: 350px;
}
.first-result {
    display: flex;
    height: 500px;
    min-width: 500px;
    font-size: 1.5rem;
    text-align: right;
    padding-right: 10px;
    margin-left: 30px;
}

.first-result > h2 {
    margin-top: auto;
    font-weight: 200;
}

.result-info {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    transition: 200ms;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
}
.result-info-small {
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    transition: 200ms;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.result-message {
    justify-self: flex-end;
    margin-top: auto;
    margin-left: 10px;
    margin-right: 10px;
    font-style: italic;
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
}

.result-info > h2,
h4 {
    cursor: pointer;
    color: ivory;
}
.result-info-small > h2,
h4 {
    cursor: pointer;
    color: ivory;
}

.noclick {
    pointer-events: none;
}

.result-container {
    position: relative;
}

.image-container {
    position: absolute;
}

.tags {
    text-align: end;
}

.jukebox {
    position: absolute;
    bottom: 0;
}

#navbar-container {
    display: flex;
    width: 40vw;
    height: 5vh;
    text-decoration: none;
    margin-left: auto;
    margin-top: 10px;
    justify-content: space-between;
    margin-right: 20px;
    min-width: 520px;
}

#about-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 8vh;
    width: 60vw;
    align-self: center;
}

#about-section {
    display: flex;
    flex-direction: column;
}

#about-section > h1 {
    margin-bottom: 20px;
}

#about-section > p {
    margin-bottom: 10px;
}

h1 {
    font-weight: 200;
    font-size: 2rem;
}
h3 {
    font-weight: 200;
}

#navbar-container > h1 > a {
    color: black;
    text-decoration: none;
    font-weight: 200;
}
#navbar-container > h1 > a:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 1px;
}

#submit-container,
#room-lobby-container,
#room-container,
#search-container {
    display: flex;
    justify-content: center;
    margin-top: 8vh;
}

#search-container {
    flex-direction: row;
    max-width: 80vw;
    margin-top: 8vh;
    align-self: center;
    margin-right: 10vw;
    margin-left: 10vw;
}

.search-text {
    margin-right: 30px;
    max-width: 30vw;
    padding-bottom: 10px;
}

#search-section {
    width: 60vw;
    flex-direction: row;
    align-self: center;
}
#search-section > h3 {
    margin-top: 10px;
    margin-bottom: 15px;
}

.search-text > h1 {
    margin-bottom: 10px;
}
.search-text > h3 {
    line-height: 1.5rem;
}
#search-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 200px;
    max-width: 400px;
    margin-bottom: 20px;
    flex-basis: 50%;
    margin-left: 30px;
}
#search-form > select {
    margin-left: 10px;
    height: 25px;
    margin-bottom: 10px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid grey;
    font-size: 1rem;
    color: grey;
}
#search-form > h3 {
    margin-bottom: 5px;
}

#search-form > button {
    margin-left: 10px;
    margin-top: 5px;
    height: 35px;
    align-self: center;
}

#search-form > p {
    margin-bottom: 15px;
}
#search-form > p > h3 {
    margin-bottom: 10px;
}
#room-form {
    display: flex;
    flex-direction: column;
}

#room-users {
    display: flex;
    flex-direction: column;
    width: 60vw;
}
#room-users > p {
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
#room-users > h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}
#room-users > .error {
    margin-bottom: 10px;
}

#room-form > h1 {
    margin-bottom: 10px;
}
#room-form > h3 {
    margin-bottom: 5px;
}

.margin-top {
    margin-top: 25px;
}

#submit-form-fields {
    display: flex;
    flex-direction: column;
    max-width: 50vw;
}

#room-users > h4 {
    font-weight: 200;
}

#submit-form > input {
    border: none;
}
#submit-form > h4 {
    color: black;
    font-weight: 100;
    margin-bottom: 20px;
}
#submit-form > h1 {
    margin-bottom: 20px;
}

.input-field {
    width: 50vw;
    padding: 5px;
    margin-bottom: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 2px;
    font-size: 1rem;
}

.narrow {
    width: 30vw;
    margin-top: 5px;
}

.create-room {
    width: 10vw;
    margin-bottom: 15px;
    margin-top: 5px;
    transition: 200ms;
}
.input-field:focus {
    outline: none;
}

.react-tagsinput {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 2px;
    overflow: hidden;
    width: 50vw;
    border-radius: 2px;
    margin-bottom: 10px;
}

.react-tagsinput--focused {
    border-color: black;
}

.react-tagsinput-tag {
    border-radius: 2px;
    border: 1px solid #ccc;
    display: inline-block;
    font-weight: 100;
    font-size: 0.8rem;
    margin-right: 5px;
    padding: 2px 5px 2px 5px;
    font-family: Helvetica;
}

.react-tagsinput-remove {
    cursor: pointer;
    font-weight: bold;
}

.react-tagsinput-tag a::before {
    content: " ×";
}

.react-tagsinput-input {
    background: transparent;
    border: none;
    color: #777;
    font-family: sans-serif;
    font-weight: 400;
    outline: none;
    padding: 5px;
}

.blue-link {
    color: royalblue;
    cursor: pointer;
    text-decoration: none;
}

.blue-link:hover {
    font-weight: 400;
    text-decoration: underline;
}

.member {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    width: 100%;
    justify-content: end;
}

.member > span {
    margin-right: 5px;
    margin-left: auto;
}

.member > span {
    margin-right: 5px;
}

.member > select {
    margin-left: 10px;
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
}

.member > button {
    margin-left: auto;
    align-self: center;
    margin-top: auto;
}

.error {
    color: red;
}

#room-members-container {
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 50vw;
    max-height: 40vh;
    margin-top: 20px;
}

.pointer {
    cursor: pointer;
}

.loading {
    display: flex;
    justify-content: center;
    margin-top: 20vh;
}

#form-and-button {
    display: flex;
    flex-direction: row;
}
#form-and-button > button {
    height: 25px;
    align-self: flex-end;
    margin-bottom: 15px;
    margin-left: 20px;
}
.indent-left {
    margin-left: 20px;
    margin-top: 10px;
}

.space-above {
    margin-top: 20px;
}

.user-icon {
    font-size: 2.5rem;
    margin-left: 15px;
    margin-right: 5px;
}

#chat-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.chat-messages-container {
    width: 100%;
    height: 30vh;
    overflow-y: auto;
}

.chat-input {
    margin-top: 1rem;
    resize: none;
}

.react-tabs {
    -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
    border-bottom: 1px solid #aaa;
    margin: 0 0 10px;
    padding: 0;
}

.react-tabs__tab {
    display: inline-block;
    border: 1px solid transparent;
    border-bottom: none;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 6px 12px;
    cursor: pointer;
}

.react-tabs__tab--selected {
    background-color: rgb(250, 247, 240);
    border-color: #aaa;
    color: black;
    border-radius: 5px 5px 0 0;
}

.react-tabs__tab--disabled {
    color: GrayText;
    cursor: default;
}

.react-tabs__tab:focus {
    box-shadow: 0 0 5px hsl(208, 99%, 50%);
    border-color: hsl(208, 99%, 50%);
    outline: none;
}

.react-tabs__tab:focus:after {
    content: "";
    position: absolute;
    height: 5px;
    left: -4px;
    right: -4px;
    bottom: -5px;
    background: #fff;
}

.react-tabs__tab-panel {
    display: none;
}

.react-tabs__tab-panel--selected {
    display: block;
}

.chat-message {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.chat-message > h4 {
    font-weight: 500;
    color: black;
    margin-right: 15px;
    padding-left: 1rem;
}
.chat-message > p {
    margin-left: 3rem;
    font-weight: 200;
    color: black;
    text-align: right;
}
/* 
@media only screen and (max-device-width: 1224px) {
    body {
        background-color: #dde5ed;
        font-size: 1em;
        overflow-y: auto;
        overflow-x: hidden;
    }

    #search-page-container {
        display: flex;
        justify-content: center;
    }

    #search-container {
        display: flex;
        flex-direction: column;
        margin-left: 0;
        margin-right: 0;
        text-align: left;
        width: 70vw;
    }
    .search-text {
        max-width: 100%;
    }
    .search-text > h1 {
        font-size: 4rem;
    }
    .search-text > h3 {
        font-size: 2rem;
        line-height: 2rem;
        margin-bottom: 30px;
    }

    #search-form {
        margin-left: 0;
        margin-top: 30px;
        padding: 10px;
        font-size: 2rem;
        min-width: 100%;
    }

    #search-form > select {
        font-size: 1.5rem;
        max-width: 50%;
        margin-bottom: 20px;
    }

    #timezone-container,
    #room-container,
    #room-lobby-container,
    #about-container {
        width: 80vw;
    }
} */
